@import "styles/mixin";

.section {
  height: calc(100vh - 6rem); //rimuovo la navbar dall'altezza totale
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  //per creare l'effetto snap dal container non funzionava
  //scroll-snap-align: start;
  .helloWrapper {
    max-width: 124rem;
    width: 100%;
    position: relative;
  }
  .helloText {
    display: flex;
    width: 100%;
    // margin-bottom: 20rem;
    padding-left: 14rem;
    padding-right: 2rem;

    .wrapper {
      position: relative;
      .instaWrap{
          height: 10rem;
          width: 10rem;
          display: block;
          position: relative;
          animation: move 1s ease-out;
        }
        
        @keyframes move {
          0% {
            opacity: 0;
          }
          50% {
            transform: translateY(-20px);
          }
          100% {
            opacity: 1;
            transform: translateY(0px);
          }
        
      }
      h1 {
        margin-top: 1rem;
        line-height: 1.3;
        font-weight: 200;
        font-size: 7rem;
        margin-bottom: 1rem;
        span {
          font-weight: 600;
        }
        .nome {
          background: var(--primary-light);
          -webkit-background-clip: text;
          background-clip:text;
          -webkit-text-fill-color: transparent;
        }
      }
      h2 {
        font-weight: 400;
        font-size: 1.8rem;
        span {
          font-weight: bold;
        }
      }
      .button {
        margin-top: 6rem;
        display: grid;
        grid-template-columns: 1fr 3fr;
      }
    }
  }
}

.hand {
  position: relative;
  display: inline-block;
  animation-name: shake;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%; // importante perche blocca la parte bassa della mano e si muove solo sopra
}

.arrow {
  cursor: pointer;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  a {
    animation: jump-up 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    svg {
      display: inline-block;
      height: 1em;
      overflow: visible;
      vertical-align: -0.125em;
      background: var(--primary);
      -webkit-background-clip: text;
      background-clip:text;
      -webkit-text-fill-color: transparent;
      font-size: 2rem;
    }
  }
}

@keyframes jump-up {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@include for-size(tab-port) {
  .section {
    .helloText {
      padding-left: 8rem;
      .wrapper {
        h1 {
          font-size: 5rem;
        }
      }
    }
  }
}

@include for-size(phone) {
  .section {
    .helloWrapper {
      bottom: -68px;
    }
    .helloText {
      padding-left: 4rem;
      .wrapper {
        h1 {
          font-size: 3rem;
        }
        h2 {
          font-size: 1.8rem;
        }
        .button {
          margin-top: 5rem;
          grid-template-columns: 3fr 3fr;
        }
      }
    }
  }
//   app-socials {
//     display: none;
//   }

  .arrow {
    padding-bottom: 4rem;
  }
}
@include for-size(phone-small) {
  .arrow {
    display: none;
  }
}

.logos {
  position: absolute;
  right: 0;
  top: -176px;
  opacity: 0.5;
  width: 305px;
  height: 432px;
  .angular {
    height: 169px;
    position: absolute;
    right: 128px;
    top: 135px;

    animation: raining 1.5s ease-in;
    &:hover {
      opacity: 1;
    }
  }
  .react {
    height: 91px;
    position: absolute;
    top: 148px;
    right: -38px;
    transform: rotate(30deg);
    // animation: raining 500ms ease-in;
    animation: raining 1.7s ease-in;
  }
  .html {
    height: 63px;

    position: absolute;

    top: 100px;

    right: 132px;
    // animation: raining 3s ease-in;

    animation: raining 2s ease-in;
  }
  .sass {
    height: 67px;
    position: absolute;
    top: 144px;
    right: 27px;
    transform: rotate(-44deg);
    // animation: raining 1.5s ease-in;
    animation: raining 1.6s ease-in;
  }
  .firebase {
    height: 81px;
    position: absolute;
    top: 219px;
    right: 84px;
    animation: raining 1.3s ease-in;
  }
  .css {
    height: 49px;
    position: absolute;
    top: 230px;
    right: 36px;
    transform: rotate(4deg);
    animation: raining 1.4s ease-in;
  }
  .flutter {
    height: 109px;

    position: absolute;

    top: 33px;

    right: -5px;

    transform: rotate(44deg);
    animation: raining 2.1s ease-in;
  }
  .ts {
    height: 49px;

    position: absolute;
    top: 90px;
    right: 6px;
    animation: raining 2.2s ease-in;
  }
  .rxjs {
    height: 106px;
    position: absolute;
    top: 284px;
    right: 107px;
    // animation: raining 2s ease-in;
    animation: raining 1.1s ease-in;
  }
  .redux {
    height: 118px;

    position: absolute;

    top: 294px;
    right: -15px;
    animation: raining 1s ease-in;
  }
  .js {
    height: 78px;

    position: absolute;

    top: 73px;

    right: 211px;

    transform: rotate(-17deg);
    animation: raining 1.9s ease-in;
  }
  .ngrx {
    height: 116px;
    position: absolute;
    top: 8px;
    right: 111px;
    transform: rotate(-82deg);
    animation: raining 1.8s ease-in;
  }
  .ionic {
    height: 49px;

    position: absolute;

    top: 249px;

    right: -10px;
    animation: raining 1.2s ease-in;
  }
}

@keyframes raining {
  0% {
    top: -100%;
    opacity: 0;
  }
}
// ipad e desktop
@media (min-width: 768px) {
  .logos {
    right: 70px;
    width: 274px;
    height: 513px;

    .angular {
      right: 206px;

      top: 166px;
    }
    .react {
      right: -60px;
    }
    .html {
    }
    .sass {
      top: 177px;

      right: 84px;
    }
    .firebase {
      height: 101px;

      top: 310px;

      right: 88px;
    }
    .css {
      height: 83px;
      top: 239px;

      right: -1px;
    }
    .flutter {
    }
    .ts {
      right: -32px;
    }
    .rxjs {
      top: 434px;
      right: 113px;
    }
    .redux {
      top: 528px;
      right: 18px;
    }
    .js {
      right: 253px;
    }
    .ngrx {
      top: 77px;
      right: 342px;
    }
    .ionic {
      top: 392px;
    }
  }
}

@include for-size(phone) {
  .logos {
    top: -307px;
  }
}
@include for-size(phone-small) {
  .logos {
    right: -51px;
    top: -276px;
  }
}
